.editor {
	font-family: "Roboto Mono", monospace;
	font-size: 12px;
	outline: none;
	overflow-y: clip;
	padding-left: 30px;
	counter-reset: line;
}

.editor div {
	display: block;
	position: relative;
	min-height: 15px;
	width: 45rem;
	word-break: break-all;
	white-space: pre-wrap;
	/* Set text color to transparent to hide the default caret */
	color: transparent;
	/* Use text-shadow to make text visible */
	text-shadow: 0 0 black;
}

#cursor.block {
	background-color: hsla(256, 100%, 50%, 1);
	color: #fff;
}

#cursor.bar {
	margin: -1px;
	animation: blink 1s step-end infinite;
	border-left: 2px solid black;
}

@keyframes blink {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: #000;
	}
}

.editor div:before {
	content: counter(line);
	counter-increment: line;
	position: absolute;
	right: calc(100% + 16px);
	opacity: 0.5;
}

.console-app {
	float: none;
	position: fixed;
	inset: 0px;
	width: 50rem;
	height: 25rem;
	max-width: 100vw;
	max-height: 100dvh;
	margin: auto;
}

.titlebar-button {
	width: 0.8rem;
	height: 0.8rem;
}
