.editor {
	font-family: "Roboto Mono", monospace;
	font-size: 12px;
	outline: none;
	overflow-y: clip;
	width: 45em;
}

.editor-pane {
	display: block;
	position: absolute;
	top: 1.15em;
	left: 1em;
	right: 1em;
	bottom: 1em;
}

.editor-buffer {
	display: block;
	position: relative;
	counter-reset: line;
	padding-left: 2em;
}

.editor-buffer div {
	display: block;
	position: relative;
	min-height: 1.15em;
	word-break: break-all;
	white-space: pre-wrap;
	color: transparent;
	text-shadow: 0 0 black;
}

.editor-buffer div:before {
	content: counter(line);
	counter-increment: line;
	position: absolute;
	right: calc(100% + 0.6em);
	opacity: 0.5;
	width: 2em;
	text-align: right;
}

.editor-status {
	display: block;
	position: absolute;
	padding-left: 0;
	bottom: 1.15em;
	left: 1.2em;
	right: 1em;
}

.editor-status div {
	display: block;
	position: relative;
	min-height: 1.15em;
	word-break: break-all;
	white-space: pre-wrap;
	color: transparent;
	text-shadow: 0 0 grey;
}

.invisible {
	min-height: 0px !important;
	height: 0;
	text-shadow: 0 0 transparent !important;
}

.editor-cursor.block {
	background-color: hsla(256, 100%, 50%, 1);
	color: #fff;
}

.editor-cursor.bar {
	margin: -1px;
	animation: blink 1s step-end infinite;
	border-left: 2px solid black;
}

@keyframes blink {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: #000;
	}
}

.console-app {
	float: none;
	position: fixed;
	inset: 0px;
	width: 50em;
	height: 34.5em;
	max-width: 100vw;
	max-height: 100dvh;
	margin: auto;
}

.window {
	position: relative;
}

.titlebar-button {
	width: 0.8em;
	height: 0.8em;
}
