body {
	background-color: #556;
	background-image:
		linear-gradient(
			30deg,
			#445 12%,
			transparent 12.5%,
			transparent 87%,
			#445 87.5%,
			#445
		),
		linear-gradient(
			150deg,
			#445 12%,
			transparent 12.5%,
			transparent 87%,
			#445 87.5%,
			#445
		),
		linear-gradient(
			30deg,
			#445 12%,
			transparent 12.5%,
			transparent 87%,
			#445 87.5%,
			#445
		),
		linear-gradient(
			150deg,
			#445 12%,
			transparent 12.5%,
			transparent 87%,
			#445 87.5%,
			#445
		),
		linear-gradient(
			60deg,
			#99a 25%,
			transparent 25.5%,
			transparent 75%,
			#99a 75%,
			#99a
		),
		linear-gradient(
			60deg,
			#99a 25%,
			transparent 25.5%,
			transparent 75%,
			#99a 75%,
			#99a
		);
	background-size: 80px 140px;
	background-position:
		0 0,
		0 0,
		40px 70px,
		40px 70px,
		0 0,
		40px 70px;
}

.editor {
	font-family: "Roboto Mono", monospace;
	font-size: 12px;
	outline: none;
	overflow-y: clip;
	width: 45em;
}

.editor-tab-pane {
	display: block;
	position: absolute;
	top: 1.15em;
	left: 0em;
	right: 1em;
	bottom: 2.5em;
}

.editor-tab-pane .editor-buffer {
	display: block;
	position: relative;
	counter-reset: line;
	padding-left: 1em;
}

.editor-tab-pane .editor-buffer div {
	display: block;
	position: relative;
	min-height: 1.15em;
	word-break: break-all;
	white-space: pre-wrap;
	color: transparent;
	text-shadow: 0 0 black;
	text-overflow: clip;
	overflow: hidden;
	padding-left: 2em;
}

.editor-tab-pane .editor-buffer div:before {
	content: counter(line);
	counter-increment: line;
	position: absolute;
	left: -1.5em;
	opacity: 0.5;
	width: 3em;
	text-align: right;
	display: inline-block;
}

.editor-status-pane .editor-buffer {
	display: block;
	position: absolute;
	padding-left: 0;
	bottom: 1.15em;
	left: 1.2em;
	right: 1em;
}

.editor-status-pane .editor-buffer div {
	display: block;
	position: relative;
	min-height: 1.15em;
	word-break: break-all;
	white-space: pre-wrap;
	color: transparent;
	text-shadow: 0 0 grey;
}

.invisible {
	min-height: 0px !important;
	height: 0;
	text-shadow: 0 0 transparent !important;
}

.editor-cursor.block {
	background-color: hsla(256, 100%, 50%, 1);
	color: #fff;
}

.editor-cursor.bar {
	margin-left: -1.43333px;
	animation: blink 1s step-end infinite;
	border-left: 2px solid black;
}

@keyframes blink {
	from,
	to {
		border-color: #000;
	}
	50% {
		border-color: transparent;
	}
}

.console-app {
	float: none;
	position: fixed;
	inset: 0px;
	width: 50em;
	height: 34.5em;
	max-width: 100vw;
	max-height: 100dvh;
	margin: auto;
}

#shadow {
	height: 100%;
}

#app-window {
	height: calc(100% - 2rem);
}

.window {
	position: relative;
}

.titlebar-button {
	width: 0.8em;
	height: 0.8em;
}

.resizers {
	width: 100%;
	height: 100%;
	border: 3px solid #4286f4;
	box-sizing: border-box;
	display: contents;
}

.resizers .resizer {
	width: 10px;
	height: 10px;
	border-radius: 50%; /*magic to turn square into circle*/
	background: transparent;
	position: absolute;
}

.resizers .resizer.top-left {
	left: -5px;
	top: -5px;
	cursor: nwse-resize; /*resizer cursor*/
}

.resizers .resizer.top-right {
	right: -5px;
	top: -5px;
	cursor: nesw-resize;
}

.resizers .resizer.bottom-left {
	left: -5px;
	bottom: -5px;
	cursor: nesw-resize;
}

.resizers .resizer.bottom-right {
	right: -5px;
	bottom: -5px;
	cursor: nwse-resize;
}
